.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto; /* Adjust based on your layout */
}

.profile-header {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-menu {
    position: absolute;
    background-color: #1e1e1e;
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.profile-menu p,
.profile-menu a {
    padding: 12px;
    color: white;
    text-decoration: none;
}

.profile-menu a:hover {
    background-color: #3498db; /* Change background on hover */
}
